PORT=
NODE_ENV=
DATABASE_URL=
BCRYPT_SALT_ROUNDS=
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=
CORS_ORIGIN=
BCRYPT_ROUNDS=
PASSWORD_RESET_SECRET=
PASSWORD_RESET_SECRET_EXPIRES_IN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PHONE=
SUPER_ADMIN_PASS=

SUPER_ADMIN_NAME=
DISCORD_WEBHOOK_URL==
